/* Non-Bootstrap Styles and Overrides */

/* GLOBAL */
a,
a:link,
a:visited {
  color: #581a08;
  text-decoration: none;
}
a:focus,
a:hover {
	text-decoration: none;
  border-bottom: 2px solid #581a08;
}

html,
body {
  height: 100%;
  background-color: #fefdf8; /* fefdf8 */
  font-family: Montserrat, helvetica, sans-serif !important;
}
body {
  color: #333;
	// background-image: -ms-linear-gradient(top, #FFFFFF 0%, #AFCAD0 100%);

	// background-image: -moz-linear-gradient(top, #FFFFFF 0%, #AFCAD0 100%);

	// background-image: -o-linear-gradient(top, #FFFFFF 0%, #AFCAD0 100%);

	// background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #FFFFFF), color-stop(100, #AFCAD0));

	// background-image: -webkit-linear-gradient(top, #FFFFFF 0%, #AFCAD0 100%);

	// background-image: linear-gradient(to bottom, #FFFFFF 0%, #AFCAD0 100%);
}

@media (min-width: 320px) {

	iframe {
		max-width: 300px;
	}
}
@media (min-width: 480px) {

	iframe {
		max-width: 455px;
	}
}
@media (min-width: 768px) {
	iframe {
		max-width: 768px;
	}
}


/* IDs */

#content {
	margin-top: 10px;
}

#content h2 {
	font-size: 16px;
	margin-bottom: 16px;
}


#profile-photo {}

/* CLASSED */

.btn-default,
.btn-default:hover,
.btn-default:focus {
  color: #333;
  text-shadow: none; /* Prevent inheritence from `body` */
  background-color: #fff;
  border: 1px solid #fff;
}

.site-wrapper {
  display: table;
  width: 100%;
  height: 100%; /* For at least Firefox */
  min-height: 100%;
}
.site-wrapper-inner {
  display: table-cell;
  vertical-align: top;
}
.cover-container {
  margin-right: auto;
  margin-left: auto;
}

.inner {
  padding: 30px;
}

.cover-heading {
	padding:0;
	margin:0;
	margin-bottom: 5px;
	color: rgba(88, 26, 8, .8);
}
.masthead {
 color:#581a08;
 background-color: rgba(254,253,248,.2);
}
.masthead-brand {
  margin: 0 0 4px 0;
}
h1.masthead-brand {
  border-bottom: 4px solid #581a08;
}
.masthead-nav {
}
.masthead-nav > li {
  display: inline-block;
}
.masthead-nav > li + li {
  margin-left: 20px;
}
.masthead-nav > li > a {
  padding-right: 0;
  padding-left: 0;
  font-size: 13.5px;
  font-weight: normal;
  color:#000; /* IE8 proofing */
  color: rgb(51, 51, 51, .8);
  border-bottom: 2px solid transparent;
  //padding: 10px 15px 3px 10px;
}
.masthead-nav > li > a:hover,
.masthead-nav > li > a:focus {
  background-color: transparent;
  border-bottom-color: #581a08;
  border-bottom-color: rgba(88, 26, 8, .8);
}
.masthead-nav > .active > a,
.masthead-nav > .active > a:hover,
.masthead-nav > .active > a:focus {
  color: #581a08;
  border-bottom-color: #581a08;
}

.nav-pills > li > a:hover,
.nav-pills > li > a:focus {
  background-color: transparent;
  border-bottom-color: #581a08;
  border-bottom-color: rgba(88, 26, 8, .8);
}
.nav-pills > li.active > a,
.nav-pills > li.active > a:hover,
.nav-pills > li.active > a:focus {
  background-color: transparent;
  color: #581a08;
  border-bottom-color: #581a08;
  border-bottom-color: rgba(88, 26, 8, .8);
}

.header {
	padding-bottom: 10px;
	margin-bottom: 15px;
}

.content__special {
	position:static;
	height:100%;
}

.writing-content {
	margin-top: 16px;
}



@media (min-width: 480px) {

	.masthead {
		position: absolute;
		top:0;
	}
	.masthead-nav > li > a {
		padding: 10px 2px 3px 2px;
		font-size: 14px;
	}
	.profile {
		float: right;
		margin: 20px 10px 20px 30px;
	}
	/* Start the vertical centering */
	.site-wrapper-inner {
		vertical-align: middle;
	}
	.mastfoot {
		text-align: right;
		padding-right:20px;
	}
	/* Handle the widths */
	.masthead,
	.mastfoot,
	.cover-container {
		width: 100%; /* Must be percentage or pixels for horizontal alignment */
	}
}

@media (min-width: 768px) {
	.masthead-brand {
		float: left;
		width:86px;
	}
	.masthead-nav {
		float: right;
	}
	.masthead-nav > li > a {
		padding: 10px 10px 3px 10px;
		font-size: 16px;
	}
	.cover {
		padding: 0 30px;
	}
	.cover .btn-lg {
		padding: 10px 20px;
		font-weight: bold;
	}
}

@media (min-width: 992px) {
  .masthead,
  .mastfoot,
  .cover-container {
    width: 700px;
  }
}


.carousel-indicators li {
  background-color: rgb(88, 26, 8);
}

.carousel-indicators .active {
  background-color: rgba(88, 26, 8, 0.6);
}
